reducedWarn=Cluster changes, a few members have out from the cluster.
increasedWarn=Cluster changes, a few members have joined the cluster.
changedClusterCannotConnectDbWarn=Cluster changes, cluster has one node. This node cann't connect database.
changedClusterCannotConnectDbWarn2=Cluster changes, cluster has many nodes. This node cann't connect database.
#[sms1]
##mandatory
#clusterName=PAYBONUS
#nodeName=PayBonus_Node1
##Lay ra cac ban ghi can kiem tra cong hoa hong
#sql=select * from (select action_profile_id,action_audit_id, receive_date, isdn_account, staff_code, shop_code, sub_id, issue_datetime,cust_id,action_id,reason_id,check_info from bonus_input where check_info in ('0','1','2') and isdn_account='867061779' order by receive_date) where rownum<1000 and mod(action_audit_id, %nbMembers%) = %order%
#sqlCountQueueSize =
#initialHosts=127.0.0.1[6611]
#ip=127.0.0.1
#port=5611
#timeout=1200000
#checkInterval=500
##allow or disallow to log timeout and loaded records
#extraLog=true
#protocolStack=D:\\STUDY\\Project\\Movitel\\mBCCS_MOZ_FULL\\PayBonus\\etc\\tcp.xml
#process_class=com.viettel.paybonus.process.PayAnypayInActionProfile
#dbprocess_class=com.viettel.paybonus.database.DbProcessor
#instances=2
#db_name=dbapp1
#[sms2]
##mandatory
#clusterName=ADDMONEY
#nodeName=AddMoneyForCus_Node1
##Lay ra cac ban ghi can cong tien cho khach hang di cap nhat lai thong tin
#sql=select * from (select log_update_info_id,staff_code, isdn, number_contact1, number_contact2, create_time from log_update_info where isdn = '258870038386' order by create_time) where rownum<1000 and mod(log_update_info_id, %nbMembers%) = %order%
#sqlCountQueueSize =
#initialHosts=127.0.0.1[7311]
#ip=127.0.0.1
#port=8611
#timeout=1200000
#checkInterval=500
##allow or disallow to log timeout and loaded records
#extraLog=true
#protocolStack=D:\\STUDY\\Project\\Movitel\\mBCCS_MOZ_FULL\\PayBonus\\etc\\tcp.xml
#process_class=com.viettel.paybonus.process.AddMoneyForCust
#dbprocess_class=com.viettel.paybonus.database.DbBocProcessor
#instances=2
#db_name=dbapp2
[sms3]
#mandatory
clusterName=OPENFLAG
nodeName=OpenFlagRegisInfo_Node1
#Lay ra cac ban ghi can cong tien cho khach hang di cap nhat lai thong tin
sql=select * from (select log_register_info_id,staff_code, isdn, create_time from log_register_info order by create_time) where rownum<1000 and mod(log_register_info_id, %nbMembers%) = %order%
sqlCountQueueSize =
initialHosts=127.0.0.1[7311]
ip=127.0.0.1
port=8611
timeout=1200000
checkInterval=500
#allow or disallow to log timeout and loaded records
extraLog=true
protocolStack=D:\\STUDY\\Project\\Movitel\\mBCCS_MOZ_FULL\\PayBonus\\etc\\tcp.xml
process_class=com.viettel.paybonus.process.OpenFlagRegisterInfo
dbprocess_class=com.viettel.paybonus.database.DbOpenFlagRegisterInfo
instances=2
db_name=dbapp2
